<ng-container *ngIf="pokemon">
  <header>
    <div class="botones">
      <a routerLink="#">Anterior Pokemon</a>
      <a routerLink="#">Siguiente Pokemon</a>
    </div>
    <h2>{{ pokemon.name.replaceAll("-", " ") }}</h2>
  </header>
  <div class="principal">
    <div class="imagen">
      <img [src]="getFrontImage(pokemon)" />
    </div>
    <div class="puntos">
      <h3>Puntos de base</h3>
      <p>PS: {{ getDatosArray(pokemon.stats || [], 0) }}</p>
      <p>Ataque: {{ getDatosArray(pokemon.stats || [], 1) }}</p>
      <p>Defensa: {{ getDatosArray(pokemon.stats || [], 2) }}</p>
      <p>Ataque Especial: {{ getDatosArray(pokemon.stats || [], 3) }}</p>
      <p>Defensa Especial: {{ getDatosArray(pokemon.stats || [], 4) }}</p>
      <p>Velocidad: {{ getDatosArray(pokemon.stats || [], 5) }}</p>
    </div>
    <div class="detalles">
      <p>{{ descripcion }}</p>
      <div class="caracteristicas">
        <div class="altura">
          <span class="clave">Altura: </span>
          <span class="valor">{{ (pokemon.height || 0) / 10 }} M</span>
        </div>
        <div class="peso">
          <span class="clave">Peso: </span>
          <span class="valor">{{ (pokemon.weight || 0) / 10 }} Kg</span>
        </div>
        <div class="categoria">
          <span class="clave">Categoría: </span>
          <span class="valor">{{ getCategoria()?.replaceAll("Pokémon ", "") }}</span>
        </div>
        <div class="habilidad">
          <span class="clave">Habilidad: </span>
          <span class="valor">{{ getHabilidades() }}</span>
        </div>
      </div>
      <div class="tipos">
        <p>Tipo</p>
        <span *ngFor="let tipo of tipos" [style.background-color]="getColor(tipo)">{{ tipo }}</span>
      </div>
    </div>
  </div>
</ng-container>
