<header>
  <div class="botones">
    <a routerLink="#">Anterior Pokemon</a>
    <a routerLink="#">Siguiente Pokemon</a>
  </div>
  <h2>{{ pokemon?.name }}</h2>
</header>
<div class="principal">
  <div class="imagen">
    <img [src]="pokemon?.sprites?.front_default" />
  </div>
  <div class="puntos">
    <h3>Puntos de base</h3>
    <p>PS: {{ getDatosArray(pokemon?.stats || [], 0) }}</p>
    <p>Ataque: {{ getDatosArray(pokemon?.stats || [], 1) }}</p>
    <p>Defensa: {{ getDatosArray(pokemon?.stats || [], 2) }}</p>
    <p>Ataque Especial: {{ getDatosArray(pokemon?.stats || [], 3) }}</p>
    <p>Defensa Especial: {{ getDatosArray(pokemon?.stats || [], 4) }}</p>
    <p>Velocidad: {{ getDatosArray(pokemon?.stats || [], 5) }}</p>
  </div>
  <div class="detalles">
    <p>{{ descripcion }}</p>
    <div class="caracteristicas">
      <div class="altura">Altura: {{ (pokemon?.height || 0) / 10 }} M</div>
      <div class="peso">Peso: {{ (pokemon?.weight || 0) / 10 }} Kg</div>
      <div class="sexo">Sexo: {{ pokemon?.height }}</div>
      <div class="categoria">Categoría: {{ pokemon?.height }}</div>
      <div class="habilidad">Habilidad: {{ pokemon?.abilities }}</div>
    </div>
  </div>
</div>
